<!DOCTYPE html>
<html>
    <head >
        <meta charset="utf-8">
        <title>About hbs Page</title>
    </head>
    <body>
        {{> header}}
        <p>I am very lazy person</p>

        {{> footer}}
    </body>
</html>